* {
  box-sizing: border-box;
}
/* --------- */
.form-inline {
  margin: 5px 0;
  padding: 0 20px;
  height: 50px;
  line-height: 50px;
  border-radius: 3px;
  background: #136a8a;
  background: -webkit-linear-gradient(to right, #267871, #136a8a);
  background: linear-gradient(to right, #267871, #136a8a);
  color: #fff;
}

.form-inline.drag-sort-active {
  background: transparent;
  color: transparent;
  border: 1px solid #4ca1af;
}

.custom-control-label{
  margin-left: 15px;
}
.form-inline .custom-control-label::before{
  top: 17px;
}
.form-inline .custom-control-label::after{
  top: 17px;
}

.line-right {
  height: 40px;
  border-right: 2px solid #343a40;
} 