<!DOCTYPE html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="{{url_for('static',filename='dist/bootstrap-4.4.1-dist/css/bootstrap.min.css')}}">
    <script src="{{url_for('static',filename='dist/jquery-3.5.0.min.js')}}"></script>
    <script src="{{url_for('static',filename='dist/popper.min.js')}}"></script>
    <script src="{{url_for('static',filename='dist/bootstrap-4.4.1-dist/js/bootstrap.min.js')}}"></script>
    <title>index</title>
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a class="navbar-brand" href="">Basic Digital Image Processing</a>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6">
                <img class="img-fluid" id="input_img" src="">
            </div>
            <div class="col-6">
                <img class="img-fluid" id="output_img" src="">
            </div>
        </div>
        <div class="row">
            <div class="container"> <!-- 操作區 -->
                <div class="row">
                    <div class="input-group"> <!-- 選擇圖片 -->
                        <div class="input-group-prepend">
                            <span class="input-group-text">選擇輸入圖片</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="imageinput" name="image" onchange="readUrl(this)">
                            <label class="custom-file-label" for="imageinput">選擇圖片</label>
                        </div>
                    </div>
                </div>
                <div class="row mt-1">
                    <button type="button" class="btn btn-primary" onclick="process()">執行</button>
                </div>
                <!-- 各功能 -->
                <div class="row">
                    <form action="/" method="post" id="idForm">
                        <input name="algorithm" type="checkbox" value="b">b
                        <input type="text" name="b:th" id="">
                        <input name="algorithm" type="checkbox" value="c">c
                        <input name="algorithm" type="checkbox" value="a">a
                        <input type="submit" value="送出表單">
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{url_for('static',filename='js/app.js')}}"></script>
</html>